<!DOCTYPE html>
<html lang="en">

<!--Head and MetaData-->

<head>
  <meta charset="utf-8">
  <title>Demographics</title>
  
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
 
     <!--Bootstrap-->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <!--D3.JS-->
    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>

    <!-- Plotly JavaScript -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>

<!--Header-->
<header>
    <img class="img-theme" src="../static/images/sps_horizontal_logo.gif">
</header>

<!--Navbar & Toggle-->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!--Bottons-->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#">Data Science Final Project</a>
    </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">Summary</a></li>
            <!--li class="dropdown"-->
            <!-- <li><a href="q1.html">Question 1</a></li>
            <li><a href="q2.html">Question 2</a></li> -->
            <!-- <li><a href="q3.html">Question 3</a></li> -->
            <li class="active"><a href="/demographics">Demographics</a></li>
            <li><a href="https://github.com/Euzkaro/Project-2.io">Documentation</a></li>
          </ul>
        </div>
</nav>
  
<div class="container">
  <h2>GeoTweet</h2>
  <h3>Demographics Plots</h3>
 <div id="id1">

</div>

<iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~KamilB/2/?share_key=9g39Wmiq99owfPO3aQ8MsV"></iframe>


<iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~KamilB/6/?share_key=eLBCPvE85giTufsKRGWLIM"></iframe>

<div>
    
</div>

<iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~KamilB/11/?share_key=faBXRiutAcj9z3LDeWNQN8"></iframe>


<iframe width="900" height="800" frameborder="0" scrolling="no" src="https://plot.ly/~KamilB/10/?share_key=5d7BEpXs9VR8GrOIJ8gvHU"></iframe>







<!--Pager-->
<div class="container">                 
        <ul class="pager">
          <li><a href="index.html">Previous</a></li>
        </ul>
      </div>

<!--Footer & Copyright-->
<footer class="page-footer font-small">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3"> &copy;2019 | Alan Garbarino | Eugenio Gallastegui | Hao Lu | Jeff Brown | Saira Jahangir | Kamil Borowik </a>
        </div>
</footer>
<script type="text/javascript" src="../static/js/PlotlyCharts.js"></script>

</body>
</html>



